<div class="container">
  <div class="row" style="padding-top:10px;">

    <div class="col"></div>

    <div class="col-6">
      <button mat-raised-button color="primary" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
        New Note
      </button>
    </div>

    <div class="col"></div>

  </div>

  <div class="row" style="padding-top:10px;" >

    <div class="col-3"></div>

    <div class="col-6" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" >
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="noteTitle" #noteTitle placeholder="Enter a title">
        </div>
        <div class="form-group">
          <label for="noteText">Note</label>
          <input type="text" class="form-control" id="noteText" #noteText placeholder="Write some notes ...">
        </div>
        <button class="btn btn-primary" (click)="createNote(noteTitle.value, noteText.value)">Create</button>
      </form>
    </div>

    <div class="col-3"></div>

  </div>

</div>
