<div class="container-fluid" >
  <h1>
    My Notes
  </h1>
</div>

<div class="container notesDisplay">

  <accordion [isAnimated]="true">

    <div class="row noteContainer" *ngFor='let note of notes; let i = index'>

      <div class="col"></div>

      <div class="col-6">

        <accordion-group heading="{{note.title}}">

          <div class="row noteText">{{note.text}}</div>

          <div class="row">
            <button class="editButton" mat-raised-button color="primary" (click)="componentVisible[i] = !componentVisible[i]">Edit</button>
            <button class="deleteButton" mat-raised-button color="warn" (click)="deleteNote(note.id)">Delete</button>
          </div>

          <app-edit-note *ngIf="componentVisible[i]" [noteToEdit]="note"></app-edit-note>

        </accordion-group>

      </div>

      <div class="col"></div>

    </div>

  </accordion>

  <app-new-note></app-new-note>

</div>
