<div class="container-fluid" style="padding-top:10px; margin-bottom:40px;">
  <h1>
    My Notes
  </h1>
</div>

<div class="container">

  <accordion [isAnimated]="true">

    <div class="row justify-content-md-center" *ngFor='let note of notes; let i = index' style="padding-top:10px;">

      <div class="col"></div>

      <div class="col-6">

        <accordion-group heading="{{note.title}}">

          <div class="row" style="padding-bottom:10px;">{{note.text}}</div>

          <div class="row">
            <button mat-raised-button color="primary" (click)="componentVisible[i] = !componentVisible[i]" style="margin-right:5px;">Edit</button>
            <button mat-raised-button color="warn" (click)="deleteNote(note.id)">Delete</button>
          </div>

          <app-edit-note *ngIf="componentVisible[i]" [noteToEdit]="note"></app-edit-note>

        </accordion-group>

      </div>

      <div class="col"></div>

    </div>

  </accordion>

  <app-new-note></app-new-note>

</div>
